footer {
    background-color: #1D2939;
    padding: 52px 0;

    .logo {
        img {
            width: 32px;
            height: 32px;
        }

        span {
            display: inline-block;
            margin-left: 9px;
            color: #fff;
        }
    }

    .footer-txt {
        color: #98A2B3;
        font-weight: 400;
    }
}


@media(max-width: 767px) {
    footer {
        padding: 28px 0;
        .footer-txt,
        .logo span {
            font-size: 14px;
        }
    }
}